extends layout

block content
    nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role='navigation')
        div.navbar-header
            a.navbar-brand(href='#/home')= title
        div.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a.dropdown-toggle(href='#' data-toggle='dropdown') 
                        span.glyphicon.glyphicon-link  Personas
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href='#/agenda') Lista
                        li
                            a(href='#/agenda/new') Nuevo
            ul.nav.navbar-nav.pull-right
                li.dropdown
                    a.dropdown-toggle(href='#' data-toggle='dropdown')
                        span.glyphicon.glyphicon-user= " Usuario" 
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href='#') Logout
    div.container
        div(ng-view)