doctype html
html(lang='en', ng-app='agenda')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        title= title
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/plugins/loadingbar/loading-bar.min.css')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.9/jquery.min.js')
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-resource.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-cookies.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js')
        script(src='/plugins/loadingbar/loading-bar.min.js')
        script(src='/javascripts/app.js')
        script(src='/javascripts/personControllers.js')  
        script(src='/javascripts/homeControllers.js')      
        script(src='/javascripts/agendaServices.js') 
    body
        block content