doctype html
html(lang='en', ng-app='shakengo')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        title= title
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')   
        link(rel='stylesheet', href='/plugins/cron/jquery-cron.css')   
        link(rel='stylesheet', href='/plugins/gentleSelect/jquery-gentleSelect.css')
        link(rel='stylesheet', href='/plugins/codemirror/lib/codemirror.css')
        link(rel='stylesheet', href='/plugins/loadingbar/loading-bar.min.css')
        script(src='//underscorejs.org/underscore-min.js')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-resource.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-cookies.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-animate.js')
        script(src='/plugins/codemirror/lib/codemirror.js')
        script(src='/plugins/ui-bootstrap-tpls-0.10.0.min.js')
        script(src='/plugins/loadingbar/loading-bar.min.js')
        script(src='/plugins/codemirror/mode/javascript/javascript.js')
        script(src='/plugins/ui-codemirror.js')
        script(src='/plugins/cron/jquery-cron.js')
        script(src='/javascripts/app.js')
        script(src='/javascripts/jobDescriptionControllers.js')
        script(src='/javascripts/jobControllers.js')
        script(src='/javascripts/componentControllers.js')  
        script(src='/javascripts/homeControllers.js')      
        script(src='/javascripts/shakengoServices.js') 
        script(src='/javascripts/jQueryDirectives.js') 
        script(src='/plugins/cron/jquery-cron.js')
        script(src='/plugins/gentleSelect/jquery-gentleSelect.js')
    body
        block content