<div class="page-header">
  <h1>Edit Job Description</h1>
</div>
<form role="form" ng-submit="saveJobDescription()">
  <div class="container">
    <div class="row">
      <div class="form-group col-xs-6">
        <label for="owner">Name</label> <input type="text" ng-model="jobDescription.owner" class="form-control" id="owner" placeholder="Name">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-6">
        <button type="button" class="btn-lg btn-default" ng-click="addComponent(1)">
          <img src="/images/source.png" class="button" />Source
        </button>
        <button type="button" class="btn-lg btn-default" ng-click="addComponent(2)">
          <img src="/images/shaker.png" class="button" />Shaker
        </button>
        <button type="button" class="btn-lg btn-default" ng-click="addComponent(3)">
          <img src="/images/target.png" class="button" />Target
        </button>
      </div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <label>Source(s)&nbsp;</label>
        <button type="button" class="btn btn-xs btn-primary" ng-click="addComponent(1)">
          <span class="glyphicon glyphicon-plus"> </span>
        </button>
        <div ng-repeat="selectedComponent in jobDescription.components | filter: {type: 1}" class="form-group">
          <div class="col-xs-11 container well">
            <button type="button" class="close" aria-hidden="true" ng-click="deleteComponent(selectedComponent)">&times;</button>
            <div class="row">
              <div class="col-xs-5">
                <label>Source</label> <select class="form-control" ng-model="selectedComponent._id"
                  ng-options="component._id as component.name for component in components | filter: {type: 1}"
                  ng-init="selectedComponent.componentId=component._id" ng-change="selectComponent({{$index}}, 1)"
                ></select>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <label>Configuration</label>
                <textarea class="form-control" ng-model="selectedComponent.config" placeholder="Enter your configuration object here"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <label>Shaker(s)&nbsp;</label>
        <button type="button" class="btn btn-xs btn-primary" ng-click="addComponent(2)">
          <span class="glyphicon glyphicon-plus"> </span>
        </button>
        <div ng-repeat="selectedComponent in jobDescription.components | filter: {type: 2}" class="form-group">
          <div class="col-xs-11 container well">
            <button type="button" class="close" aria-hidden="true" ng-click="deleteComponent(selectedComponent)">&times;</button>
            <div class="row">
              <div class="col-xs-5">
                <label>Shaker</label> <select class="form-control" ng-model="selectedComponent._id"
                  ng-options="component._id as component.name for component in components | filter: {type: 2}"
                  ng-init="selectedComponent.componentId=component._id" ng-change="selectComponent({{$index}}, 2)"
                ></select>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <label>Configuration</label>
                <textarea class="form-control" ng-model="selectedComponent.config" placeholder="Enter your configuration object here"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <label>Target(s)&nbsp;</label>
        <button type="button" class="btn btn-xs btn-primary" ng-click="addComponent(3)">
          <span class="glyphicon glyphicon-plus"> </span>
        </button>
        <div ng-repeat="selectedComponent in jobDescription.components | filter: {type: 3}" class="form-group">
          <div class="col-xs-11 container well">
            <button type="button" class="close" aria-hidden="true" ng-click="deleteComponent(selectedComponent)">&times;</button>
            <div class="row">
              <div class="col-xs-5">
                <label>Target</label> <select class="form-control" ng-model="selectedComponent._id"
                  ng-options="component._id as component.name for component in components | filter: {type: 3}"
                  ng-init="selectedComponent.componentId=component._id" ng-change="selectComponent({{$index}}, 3)"
                ></select>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <label>Configuration</label>
                <textarea class="form-control" ng-model="selectedComponent.config" placeholder="Enter your configuration object here"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-6">
        <label for="schedule">Schedule</label>
        <p class="form-control" id="schedule">{{jobDescription.schedule}}</p>
        <cron ng-model="jobDescription.schedule" id="cron" />
      </div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-xs-6">
        <a href="#/job-descriptions" class="btn btn-default" role="button"> <span class="glyphicon glyphicon-arrow-left"></span> Back to Job
          Description List
        </a>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-primary pull-right" type="submit">Save &raquo;</button>
      </div>
    </div>
    <p>&nbsp;</p>

  </div>
</form>